<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config> 
    <modules>
        <VDesign_Bookme>
            <version>0.0.8</version>
        </VDesign_Bookme>
    </modules>
    <global>
        <helpers>
            <bookme>
                <class>VDesign_Bookme_Helper</class>
            </bookme>
        </helpers>
 		<blocks>
            <bookme>
                <class>VDesign_Bookme_Block</class>
            </bookme>
            <adminhtml>
            	<rewrite>
            		<catalog_product_edit_tab_attributes>VDesign_Bookme_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
            		<catalog_product_edit_tab_options_option>VDesign_Bookme_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
            	</rewrite>
            </adminhtml>
        </blocks>
        <models>
        	<catalog>
        		<rewrite>
        			<product_option>VDesign_Bookme_Model_Product_Option</product_option>
        		</rewrite>
        	</catalog>
        	<bookme>
            	<class>VDesign_Bookme_Model</class>
            	<resourceModel>bookme_resource</resourceModel>
            </bookme>	
            <bookme_resource>
       			 <class>VDesign_Bookme_Model_Resource</class>
        			<entities>
        				<book>
                            <table>bookme_book</table>
                        </book>
                        <book_item>
                            <table>bookme_book_item</table>
                        </book_item>
                        <book_pricerule>
                            <table>bookme_book_pricerule</table>
                        </book_pricerule>
                        <book_excludeday>
                        	<table>bookme_book_excludeday</table>
                        </book_excludeday>
                        <book_time>
                        	<table>bookme_book_time</table>
                        </book_time>
                        <book_session>
                        	<table>bookme_book_session</table>
                        </book_session>
                        <book_session_time>
                        	<table>bookme_book_session_time</table>
                        </book_session_time>
        			</entities>
    		</bookme_resource>
    	</models>
    	<catalog>
            <product>
                <type>
                    <booking translate="label" module="bookme">
                        <label>Booking Product</label>
                        <model>bookme/product_type_booking</model>
                        <price_model>bookme/product_type_booking_price</price_model>
                        <composite>0</composite>
                    </booking>
                </type>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <booking>bookme/sales_order_pdf_items_invoice</booking>
            </invoice>
            <creditmemo>
                <booking>bookme/sales_order_pdf_items_creditmemo</booking>
            </creditmemo>
        </pdf>
    	 <resources>
            <bookme_setup>
                <setup>
                    <module>VDesign_Bookme</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bookme_setup>
        </resources>
        
        
        <catalog>
            <product>
                <options>
                    <custom>
                        <groups>
                            <multidate translate="label" module="bookme">
                                <label>Booking type</label>
                                <render>bookme/adminhtml_catalog_product_edit_tab_options_type_multidate</render>
            					<types>
                                    <multidate_type translate="label" module="bookme">
                                        <label>Mulitple date</label>
                                    </multidate_type>
                                </types>
                            </multidate>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>
        
    </global>
    <adminhtml>
    <translate>
            <modules>
                <bookme>
                    <files>
                        <default>VDesign_Bookme.csv</default>
                    </files>
                </bookme>
            </modules>
        </translate>
    	<fieldsets>
    		<catalog_product_dataflow>
    			<exclude_day>
                    <internal>1</internal>
                </exclude_day>
            </catalog_product_dataflow>
    	</fieldsets>
        <layout>
            <updates>
                <bookme>
                    <file>vdesign_bookme.xml</file>
                </bookme>
            </updates>
        </layout>
        <events>
        	<catalog_model_product_duplicate>
        		<observers>
            		<vdesign_bookme_duplicate>
            			<type>singleton</type>
            			<class>bookme/observer</class>
            			<method>duplicateProduct</method>
            		</vdesign_bookme_duplicate>
            	</observers>
        	</catalog_model_product_duplicate>
            <sales_order_save_before>
            	<observers>
            		<vdesign_bookme_validate_order>
            			<type>singleton</type>
            			<class>bookme/observer</class>
            			<method>validateBookingInOrder</method>
            		</vdesign_bookme_validate_order>
            	</observers>
            </sales_order_save_before>
            <sales_order_place_after>
            	<observers>
            		<vdesign_bookme_save_book>
            			<type>singleton</type>
            			<class>bookme/observer</class>
            			<method>saveBookOptions</method>
            		</vdesign_bookme_save_book>
            	</observers>	
            </sales_order_place_after>
            <sales_order_item_cancel>
            	<observers>
            		<vdesign_bookme_clean_book>
           				<type>singleton</type>
           				<class>bookme/observer</class>
           				<method>cleanCanceledBooks</method>
            		</vdesign_bookme_clean_book>
            	</observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
            	<observers>
            		<vdesign_bookme_clean_book>
           				<type>singleton</type>
           				<class>bookme/observer</class>
           				<method>cleanCreditMemoBooks</method>
            		</vdesign_bookme_clean_book>
            	</observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <booking/>
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <frontend>
    <translate>
            <modules>
                <bookme>
                    <files>
                        <default>VDesign_Bookme.csv</default>
                    </files>
                </bookme>
            </modules>
        </translate>
    	<layout>
            <updates>
                <bookme>
                    <file>vdesign_bookme.xml</file>
                </bookme>
            </updates>
        </layout>
        <routers>
            <bookme>
                <use>standard</use>
                <args>
                    <module>VDesign_Bookme</module>
                    <frontName>bookme_calendar</frontName>
                </args>
            </bookme>
        </routers>
        <events>
            <sales_order_save_before>
            	<observers>
            		<vdesign_bookme_validate_order>
            			<type>singleton</type>
            			<class>bookme/observer</class>
            			<method>validateBookingInOrder</method>
            		</vdesign_bookme_validate_order>
            	</observers>
            </sales_order_save_before>
            <sales_order_place_after>
            	<observers>
            		<vdesign_bookme_save_book>
            			<type>singleton</type>
            			<class>bookme/observer</class>
            			<method>saveBookOptions</method>
            		</vdesign_bookme_save_book>
            	</observers>
            </sales_order_place_after>
            <checkout_cart_product_add_after>
                <observers>
                    <vdesign_bookme_valid_cart>
                        <class>bookme/observer</class>
                        <method>checkCartAdd</method>
                    </vdesign_bookme_valid_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <bookme>
                <use>admin</use>
                <args>
                    <module>VDesign_Bookme</module>
                    <frontName>bookme</frontName>
                </args>
            </bookme>
        </routers>
    </admin>
</config>