<?xml version="1.0"?>
<!--
/**
 * Yoast
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *
 * @category   Yoast
 * @package    Yoast_BlankSeoUrl
 * @copyright  Copyright (c) 2009 Yoast (http://yoast.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 -->
<config>
	<modules>
		<Megnor_Framework>
			<version>0.1.0</version>
		</Megnor_Framework>
	</modules>
	
	<global>
	  <helpers>
           <framework>
                <class>Megnor_Framework_Helper</class>
           </framework>			
      </helpers>
	</global>
	  
	<frontend>
		<layout>
            <updates>
                <framework>
                    <file>tempmela.xml</file>
                </framework>
            </updates>
        </layout>
	</frontend> 
	
	  <adminhtml>
        <menu>
            <megnor_menu translate="title" module="framework">
                <title>Templatemela Framework</title>
                <sort_order>90</sort_order>                      
            </megnor_menu>
        </menu> 
	  </adminhtml>
 
</config>