
.date-time-from { clear:both; padding-top:10px; float: right; width: 330px; }

.date-time-to { clear:both; padding-top:10px; float: right; width: 330px; }

#fme_booking_timetable { padding:5px; font-size:11px;  }

TABLE.fme_booking_timetable {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: collapse;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0 1px;
}

.fme_booking_timetable THEAD TD {
    background-color: #DDDDDD;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    width: 68px;
}

.fme_booking_timetable TR TD {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    font-size: 10px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.fme_booking_timetable TD {
    height: 24px;
    width: 12px;
}

.fme_booking_timetable TD.free_time {
    background-color: #D0F2AB;
}


.fme_booking_timetable TD.busy_time {
    background-color: #F73F0C;
}

.fme_booking_timetable TD.first-prim, .fme_booking_timetable TD.last-sec {
    background-color: #EEEEEE;
}

.booking-info .box-head h2 {
    background-image: url("../../images/bookingreservation/booking-info-icon.gif");
}


.fme-staff-members {
  
  padding:15px 0;
  
  
}
.fme-staff-members .staff-member-info {
  
  width:90px; float:left; text-align:center;   
  
}

.fme_booking_identity{
  
  padding:15px 0;
}

TABLE.fme_booking_identity DIV.free {
    background-color: #D0F2AB;
}

TABLE.fme_booking_identity DIV.busy {
    background-color: #F73F0C;
}

TABLE.fme_booking_identity DIV.identity {
    border: 1px solid #EEEEEE;
    float: left;
    height: 14px;
    margin: 5px;
    width: 14px;
}

TABLE.fme_booking_identity TR TD {
    font-size: 10px;
    font-weight: bold;
    line-height: 25px;
}

.boooking-customer-addresses{
  
  padding-top:20px;
  
}

#fme-overlay[id] {
    position: fixed;
}
#fme-overlay {
    background-color: #000000;
    background-image: url("../../images/bookingreservation/progressLoader.gif");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fme-staff-members { float:right;  width: 330px; padding:20px 0; }
.fme-staff-members h2 { padding-bottom:10px; }

#selected_days_container a { text-decoration: none; }