<?xml version="1.0"?>
<!-- 
/**
 * @category   FME
 * @package    FME_Bookingreservation
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <default>
	<bookingreservation>
	    <calendar_settings>
		<calendar_width>300px</calendar_width>
		<calendar_height>250px</calendar_height>
		<calendar_bg_color>#EBEBEB</calendar_bg_color>
		<calendar_border>1px solid #999999</calendar_border>
		<calendar_font>11px/20px Serif</calendar_font>
		<calendar_head_bg>#FFFFFF</calendar_head_bg>
		<calendar_head_font>12px cursive</calendar_head_font>
		<calendar_head_week_bg> #DEDEDE</calendar_head_week_bg>
		<calendar_current_day_color>#224FBE</calendar_current_day_color>
		<calendar_selected_day_bg>#FFFFFF</calendar_selected_day_bg>
		<calendar_past_day_bg>#D0D0D0</calendar_past_day_bg>
		<calendar_hover_day_bg>#FFFFFF</calendar_hover_day_bg>		
	    </calendar_settings>
	    <scheduler_settings>
		<free_time_color>#D0F2AB</free_time_color>
		<busy_time_color>#F73F0C</busy_time_color>
		<head_bg>#DDDDDD</head_bg>
		<font>13px/20px Helvetica</font>		
	    </scheduler_settings>
	    <home_service>
		<distance_charges>$10</distance_charges>
		<km_distance_charges>$8</km_distance_charges>
	    </home_service>
	    <reply>
		<member_enable>1</member_enable>
		<subject>Booking and Reservation Reply</subject>
	    </reply>
	    <booking_summary>
		<enabled>0</enabled>
		<time></time>
		<frequency></frequency>
	    </booking_summary>
	</bookingreservation>
    </default>
    
    
    
    <modules>
        <FME_Bookingreservation>
            <version>0.1.0</version>
        </FME_Bookingreservation>
    </modules>
    <frontend>
        <routers>
            <bookingreservation>
                <use>standard</use>
                <args>
                    <module>FME_Bookingreservation</module>
                    <frontName>bookingreservation</frontName>
                </args>
            </bookingreservation>
	    
	    
	    <checkout>
		<args>
		    <modules>
		      <FME_Bookingreservation before="Mage_Checkout">FME_Bookingreservation</FME_Bookingreservation>
		    </modules>
		</args>
	    </checkout>
	
        </routers>
        <layout>
            <updates>
                <bookingreservation>
                    <file>bookingreservation.xml</file>
                </bookingreservation>
            </updates>
        </layout>
	<translate>
			<modules>
			    <FME_Bookingreservation>
				<files>
				    <default>FME_Bookingreservation.csv</default>
				</files>
			    </FME_Bookingreservation>
			</modules>
	</translate>
    </frontend>
    <admin>
        <routers>
			<bookingreservation>
				<use>admin</use>
				<args>
					<module>FME_Bookingreservation</module>
					<frontName>bookingreservation</frontName>
				</args>
			</bookingreservation>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		    <FME module="bookingreservation">
			<title>FME Extensions</title>
			<sort_order>72</sort_order>
			<children>
			    <bookingreservation module="bookingreservation">
				    <title>Booking and Reservation</title>
				    <sort_order>71</sort_order>               
				    <children>
					    <items module="bookingreservation">
						    <title>Manage Bookings</title>
						    <sort_order>0</sort_order>
						    <action>bookingreservation/adminhtml_bookingreservation</action>						
					    </items>
					    <members module="bookingreservation">
						    <title>Manage Staff Members</title>
						    <sort_order>1</sort_order>
						    <action>bookingreservation/adminhtml_staffmembers</action>
					    </members>
					    <config translate="title">
							<title>Configuration</title>
							<sort_order>2</sort_order>
							<action>adminhtml/system_config/edit/section/bookingreservation</action>
					    </config>
				    </children>
			    </bookingreservation>
			</children>
		    </FME>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <FME module="bookingreservation">
						<title>FME Extensions</title>
						<sort_order>72</sort_order>
						<children>
						<bookingreservation>
							<title>Bookingreservation Module</title>
							<sort_order>10</sort_order>
							<children>
								<items module="bookingreservation">
									<title>Manage Bookings</title>
									<sort_order>0</sort_order>
									<action>bookingreservation/adminhtml_bookingreservation</action>						
								</items>
								<members module="bookingreservation">
									<title>Manage Staff Members</title>
									<sort_order>1</sort_order>
									<action>bookingreservation/adminhtml_staffmembers</action>
								</members>
							</children>
						</bookingreservation>
						</children>
					    </FME>
					    
						<system>
						    <children>
							<config>
							    <children>
								<bookingreservation translate="title" module="bookingreservation">
								    <title>Bookingreservation Configuration</title>
								    <sort_order>100</sort_order>
								</bookingreservation>
							    </children>
							</config>
						    </children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bookingreservation>
					<file>bookingreservation.xml</file>
				</bookingreservation>
			</updates>
		</layout>
		<translate>
			<modules>
			    <FME_Bookingreservation>
				<files>
				    <default>FME_Bookingreservation.csv</default>
				</files>
			    </FME_Bookingreservation>
			</modules>
		</translate>
    </adminhtml>  
    
    
    <default>
         <sales>
            <totals_sort>
                <homeservice>45</homeservice>                
            </totals_sort>           
        </sales>
    </default>
    
    
    <global>
	
	<sales>            
            
	    <quote>
                <totals>                    
		    <homeservice>
                        <class>bookingreservation/quote_address_total_homeservice</class>
			<after>subtotal,freeshipping,tax_subtotal</after>
                        <before>grand_total</before>
			<!--<renderer>bookingreservation/sales_order_total</renderer>-->
		    </homeservice>		    
                </totals>               
            </quote>              
	    
	    <order_invoice>
		    <totals>
			<homeservice>
			    <class>bookingreservation/sales_order_total_invoice_homeservice</class>
			</homeservice>
		    </totals>
	    </order_invoice>
	    
	    <order_creditmemo>
		    <totals>
			<homeservice>
			    <class>bookingreservation/sales_order_total_creditmemo_homeservice</class>
			</homeservice>
		    </totals>
	    </order_creditmemo>
	    
	</sales>
	
	
	<fieldsets>
            <sales_convert_quote_address>
                <homeservice_amount><to_order>*</to_order></homeservice_amount>
                <base_homeservice_amount><to_order>*</to_order></base_homeservice_amount>
            </sales_convert_quote_address>
        </fieldsets> 
	 
	
	
        <models>	    
	    
            <checkout>
                <rewrite>
                    <cart>FME_Bookingreservation_Model_Cartobserver</cart>
                </rewrite>
            </checkout>	    
	    <sales>
                <rewrite>
                    <order>FME_Bookingreservation_Model_Order</order>
                </rewrite>
	    </sales>    
	    <sales>
                <rewrite>
                    <service_quote>FME_Bookingreservation_Model_Service_Quote</service_quote>
                </rewrite>
	    </sales>
	    
	    <FME_Bookingreservation before="Mage_Checkout">FME_Bookingreservation</FME_Bookingreservation>
	    
	    <shipping>
		<rewrite>
		    <carrier_flatrate>FME_Bookingreservation_Model_Carrier_Flatrate</carrier_flatrate>
		</rewrite>
	    </shipping>	    
        
	
            <bookingreservation>
                <class>FME_Bookingreservation_Model</class>
                <resourceModel>bookingreservation_mysql4</resourceModel>
            </bookingreservation>
	    
            <bookingreservation_mysql4>
                <class>FME_Bookingreservation_Model_Mysql4</class>
                <entities>
                    <bookingreservation>
                        <table>bookingreservation</table>
                    </bookingreservation>
		    <staffmembers>
                        <table>staffmembers</table>
                    </staffmembers>
		    <booking_staff_products>
                        <table>booking_staff_products</table>
                    </booking_staff_products>
                </entities>
            </bookingreservation_mysql4>
	</models>
	
        <resources>
            <bookingreservation_setup>
                <setup>
                    <module>FME_Bookingreservation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bookingreservation_setup>
            <bookingreservation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bookingreservation_write>
            <bookingreservation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bookingreservation_read>
        </resources>
	
        <blocks>
            <bookingreservation>
                <class>FME_Bookingreservation_Block</class>
            </bookingreservation>
	    <checkout>
                <rewrite>
                    <onepage>FME_Bookingreservation_Block_Onepage</onepage>
                </rewrite>
            </checkout>	    
	    
        </blocks>
        
	<helpers>
            <bookingreservation>
                <class>FME_Bookingreservation_Helper</class>
            </bookingreservation>
        </helpers>
	
	<events>
	    
	    <controller_action_layout_generate_blocks_before>
		<observers>
                    <booking_product_template>
                        <class>FME_Bookingreservation_Model_Observer</class>
                        <method>setProductPageTemplate</method>
                    </booking_product_template>
                </observers>		
	    </controller_action_layout_generate_blocks_before>
	    
	    
	    <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>FME_Bookingreservation_Model_Observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            
	    <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>FME_Bookingreservation_Model_Observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
	    </sales_order_creditmemo_save_after>
	    
	    <catalog_product_save_before>
                <observers>
                    <custom_options>
                        <type>singleton</type>
                        <class>FME_Bookingreservation_Model_Observer</class>
                        <method>addBRCustomOptions</method>
                    </custom_options>
                </observers>
            </catalog_product_save_before>
	    
<!--	    <controller_action_predispatch>-->
<!--		<observers>-->
<!--		    <dispath_add_event_on_action>			-->
<!--			<class>FME_Bookingreservation_Model_Cartobserver</class>-->
<!--                        <method>dispathAddEvent</method>		    -->
<!--		    </dispath_add_event_on_action>-->
<!--                </observers>-->
<!--	    </controller_action_predispatch>-->
	    
	    
	    
	    
	    
	    <checkout_cart_product_add_before>
                <observers>
		    <booking_options_selected>			
			<class>FME_Bookingreservation_Model_Observer</class>
                        <method>checkOptionsSelectedBefore</method>		    
		    </booking_options_selected>
                </observers>
            </checkout_cart_product_add_before>
	    

	    <checkout_cart_product_add_after>
                <observers>
		    <booking_update_price>			
			<class>FME_Bookingreservation_Model_Observer</class>
                        <method>updatePriceAddToCartAfter</method>		    
		    </booking_update_price>
                </observers>
            </checkout_cart_product_add_after>	    
	    
	    
	    <checkout_cart_product_update_after>
		<observers>
		    <booking_edit_save_product>
			<class>FME_Bookingreservation_Model_Observer</class>
			<method>cartUpdateProductWithOptions</method>
		    </booking_edit_save_product>
		</observers>
	    </checkout_cart_product_update_after>
	    
	    
	    
	   <sales_model_service_quote_submit_success>
		<observers>
		    <save_booking_info>
			<class>FME_Bookingreservation_Model_Observer</class>
			<method>saveBookingInfoFromOrder</method>
		    </save_booking_info>
		</observers>		
	    </sales_model_service_quote_submit_success>
	    
	    
	    
	    <sales_convert_quote_item_to_order_item>
		<observers>
			<extra_options>			    
			    <class>FME_Bookingreservation_Model_Observer</class>
			    <method>salesConvertQuoteItemToOrderItem</method>
			</extra_options>
		</observers>
	    </sales_convert_quote_item_to_order_item>
	    
	    
	    <sales_order_status_change_after>
		<observers>
			<order_booking_status>			    
			    <class>FME_Bookingreservation_Model_Observer</class>
			    <method>changeBookingStatusByOrderStatusChange</method>
			</order_booking_status>
		</observers>
	    </sales_order_status_change_after>
	    
	    
	    

	    
	<!--     <customer_address_save_after>-->
	<!--	<observers>-->
	<!--	    <customer_distance_from_store>-->
	<!--		<type>singleton</type>-->
	<!--		<class>FME_Bookingreservation_Model_Observer</class>-->
	<!--		<method>saveCustomerDistanceFromStore</method>-->
	<!--	    </customer_distance_from_store>-->
	<!--	</observers>-->
	<!--    </customer_address_save_after>-->
	    
	    
	    
	    
	    
	    
	    
	    
	    
	</events>
	
	
	<template>
		<email>
		    <bookingreservation_reply_email_template translate="label" module="bookingreservation">
				<label>Send Staff Member The Email</label>
				<file>staff_email_template.html</file>
				<type>html</type>
		    </bookingreservation_reply_email_template>
		</email>
	</template>
	<!--not using-->
	<default>
	    <bookingreservation>
			<bookingreservation>
				<enable>1</enable>
			</bookingreservation>
			<reply>
				<enable>1</enable>
				<recipient_email><![CDATA[hello@example.com]]></recipient_email>
				<sender_email_identity>custom2</sender_email_identity>
				<subject><![CDATA[Notification]]></subject>
				<body><![CDATA[Order Placed!]]></body>
				<email_template>bookingreservation_reply_email_template</email_template>
			</reply>
	    </bookingreservation>
	</default>
	
    </global>
    
    <crontab>
	    <jobs>
		<fme_bookingreservation_summary>
		    <!--<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>-->
		    <run><model>bookingreservation/observer::sendBookingSummaryEmail</model></run>
		</fme_bookingreservation_summary>
	    </jobs>
    </crontab>
    
    
  
    
</config>
