<?xml version="1.0"?>
<!--
/**
 * Product Testimonial Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   FME
 * @package    Product Testimonial
 * @author     Asif Hussain <support@fmeextensions.com>
 * 	       
 * @copyright  Copyright 2012 © www.fmeextensions.com All right reserved
 */
 
-->
<config>
    <tabs>
        <FME translate="label" module="bookingreservation">
            <label>FME Extensions</label>
            <sort_order>167</sort_order>
        </FME>
    </tabs>
    <sections>
        <bookingreservation translate="label comment" module="bookingreservation">
            <tab>FME</tab>
            <label>Booking and Reservation</label>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>         
                <calendar_settings translate="label comment" module="bookingreservation">
                    <label>Calendar Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>22</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <calendar_width translate="label">
                        	<label>Calendar Width</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>0</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Width of Calendar ie ( 180px )</comment>
                        </calendar_width>
			<calendar_height translate="label">
                        	<label>Calendar Height</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Height of Calendar ie ( 200px )</comment>
                        </calendar_height>
			<calendar_bg_color translate="label">
                        	<label>Calendar Background Color</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>2</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background color of Calendar ie ( #EEEEEE )</comment>
                        </calendar_bg_color>
			<calendar_border translate="label">
                        	<label>Calendar Border</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>3</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Border of Calendar ie ( 1px solid #AAAAAA )</comment>
                        </calendar_border>
			<calendar_font translate="label">
                        	<label>Calendar Font Style</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>4</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Font style of Calendar ie ( 11px/20px Helvetica )</comment>
                        </calendar_font>
			
			
			
			<calendar_head_bg translate="label">
                        	<label>Calendar Head Background</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>5</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background color of Calendar Head ie ( #FFFFFF )</comment>
                        </calendar_head_bg>
			<calendar_head_font translate="label">
                        	<label>Calendar Head Font</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>6</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Font style of Calendar Head ie ( 12px cursive )</comment>
                        </calendar_head_font>			
			<calendar_head_week_bg translate="label">
                        	<label>Calendar Week Days Background</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>7</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background color of Calendar Week Days like, "S M T W T F S" ie ( #DDDDDD )</comment>
                        </calendar_head_week_bg>
			
			
			
			<calendar_current_day_color translate="label">
                        	<label>Color of Current Day (Today)</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>8</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Current day's color  ( #D50000 )</comment>
                        </calendar_current_day_color>
			<calendar_selected_day_bg translate="label">
                        	<label>Background Color of Selected Day</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>9</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background Color of Selected Day  ( #FFFFFF )</comment>
                        </calendar_selected_day_bg>
			<calendar_past_day_bg translate="label">
                        	<label>Background Color of Past Days</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background Color of old days ( #D0D0D0 )</comment>
                        </calendar_past_day_bg>
			<calendar_hover_day_bg translate="label">
                        	<label>On Mouse Over - Background Color of Day</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>11</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background Color of Day, when mouse over the cell  ( #34ABFA )</comment>
                        </calendar_hover_day_bg>
			
			
                    </fields>
                </calendar_settings>
		
		
		
		<scheduler_settings translate="label comment" module="bookingreservation">
                    <label>Time Schedule Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>23</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<free_time_color translate="label">
                        	<label>Color of Free Time</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>0</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Color of free time  ( #D0F2AB )</comment>
                        </free_time_color>
			<busy_time_color translate="label">
                        	<label>Color of Busy Time</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Color of busy time  ( #F73F0C )</comment>
                        </busy_time_color>			
			<head_bg translate="label">
                        	<label>Background Color of Schedule Table</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>2</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Background Color of schedule table ( #DDDDDD )</comment>
                        </head_bg>
			<font translate="label">
				<label>Font Style of Schedule Table</label>
				<frontend_type>text</frontend_type>
				<sort_order>3</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Font Style of Schedule Table ie (13px/20px Helvetica)</comment>				
			</font>
		    </fields>
		</scheduler_settings>		
		
		
		<home_service translate="label comment" module="bookingreservation">
                    <label>Home Service(Mobile) Bookings Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>24</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<distance_charges translate="label">
                        	<label>Distance Charges / Mile</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>0</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Set Distance Charges per miles ie ( $10 ) </comment>
                        </distance_charges>
			<km_distance_charges translate="label">
                        	<label>Distance Charges / Km</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Set Distance Charges per kilometer ie ( $8 ) </comment>
                        </km_distance_charges>
			<!--<cancel_charges translate="label">
                        	<label>Booking Cancel Charges</label>
                        	<frontend_type>text</frontend_type>
                        	<sort_order>2</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Booking Cancelation Charges after specified time(from product) ie ( $15 ) </comment>
                        </cancel_charges>-->
		    </fields>
		</home_service>
		
		
		<reply translate="label">
                    <label>Staff Members</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<member_enable translate="label">
                            <label>Staff Members</label>
                            <comment>enable/disable Staff Members</comment>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </member_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <comment>Enter The Subject Of The Email</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </subject>
  
                        <!--email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template-->
                    </fields>
                </reply>
		
		
		<booking_summary translate="label">
                    <label>Booking Summary (Cron Job)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>41</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <comment>enable/disable booking summary</comment>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </enabled>
			
			<time translate="label">
                            <label>Set Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
			
			<frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>bookingreservation/config_backend_cron</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
			
                    </fields>
                </booking_summary>
		
		
		
            </groups>
        </bookingreservation>
    </sections>
</config>
